<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<title>Tesselation and Twist</title>

<link rel="stylesheet" href="/public/styles/helper-styles.css"/>
<script id="vertex-shader" type="x-shader/x-vertex">
attribute vec4 vPosition;

void
main()
{
    gl_Position = vPosition;
}
</script>

<script id="fragment-shader" type="x-shader/x-fragment">
precision mediump float;

void
main()
{
    gl_FragColor = vec4( 1.0, 0.0, 0.0, 1.0 );
}
</script>

<script type="text/javascript" src="/public/scripts/demohelper/webgl-utils.js"></script>
<script type="text/javascript" src="/public/scripts/tesselateTwist/initShaders.js"></script>
<script type="text/javascript" src="/public/scripts/tesselateTwist/MV.js"></script>
<script type="text/javascript" src="/public/scripts/tesselateTwist/program/TesselateAndTwist.js"></script>
</head>   

<body>
<div class="centered-div">
	<canvas id="gl-canvas" width="400" height="400">
	Oops ... your browser doesn't support the HTML5 canvas element
	</canvas>
	<div style="padding:0px 100px">
		<p>Angle: <span id="angleValue"></span></p><input style="width:300px" value="40" type="range" id="angle" min="-360" max="360" step="1" onchange="WebGLProgram.changeAngle(value)"><br/> 
		<p>Subdivision levels: <span id="levelValue"></span></p> <input type="range" id="level" value="5" min="0" max="6" onchange="WebGLProgram.changeLevel(value)">
		<p>Shape to draw: </p>
		<select onchange="WebGLProgram.changeShape(value)">
			<option value="0">Triangle</option>
			<option value="1">Square</option>
			<option value="2">Triangle Gasket</option>
			<option value="3">Square Gasket</option>
		</select>	
	</div>
	
</div>
</body>
</html>
